:root {
    --color1: white;
    --color2: yellow;
    --color3: grey;
    --color4: #5c8583;

}

* {

    Padding: 0;
    Margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Times New Roman', Times, serif
}

header {
    background-color: var(--color4);
    padding: 15px 30px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    z-index: 9999;
}

header h1 {
    font-weight: bolder;
    font-size: 34px;
    margin: 0;
    color: var (--color2)
}

header nav {
    margin: 6px 0;
    width: 36%
}

header a {
    text-decoration: none;
    color: var(--color2);
}

header nav ul {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

header nav ul li a:hover {
    background: var(--color4);
    border-radius: 14px;
    color: var(--color4);
    text-shadow: none;

}

/* profile picture */

.profile-pic-container {
    padding: 20px 50px;
    background-color: var(--color1);
}

/*styling*/

.title-container {
    width: 15%;
    padding-right: 10px;
    display: flex;
    border-right:3px solid var (--color2);
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
} 

.content-row {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    text-shadow: 0 0 10px;
    background-color: var(--color4);
    padding: 15px 30px;
}

.title-container h2 {
    font-size: 24px;
    margin-left: 6px;
}

/*about me*/

.plain-text-conainer {
    width: 90%;
    line-height: 1.5;
    padding-left: 12px;

}

section a {
    color: var(--color2);
}

/*portfolio*/

.project-container {
    min-height: 600px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 85%
}

.project-container p {
    color: var(--color2);
    text-shadow: 0 0 0;
    font-weight: bold;
    padding: 5px 5px;
    bottom: 10px;
    position: absolute;
    border: 2px solid var(--color2);
    background-color: var(--color1);
}

.headline-project {
    position: relative;
    width: 100%;
    background-image: url('');
    margin: 10px 10px;
    background-size: cover;

}


.headline-project:hover {
    opacity: .75;
}